CompileFlags:
  Add:
    - "-std=c++23"
    - "-fmodules"
    - "-fbuiltin-module-map"
  Remove:
    - "-fmodules-ts"

Diagnostics:
  UnusedIncludes: None
  Suppress:
    - "pp_file_not_found"
    - "*module*"